{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <style>
        body{
            background-color: #FFEA00;

        }
        .btn{
            margin-left: 9%;
            background: none;
            border: none;
            position: relative;
            width: 20%;
            height: 100%;
            overflow: hidden;
            padding-bottom: 0%;

        }
        img{
            max-width: 100%;
        }
    </style>
    <script language = "javascript">
        var sessionKey = "{{ sessionKey }}";
        
        var chatSocket = new WebSocket(
            'ws://' + window.location.host + '/ws/sgs/RPS/' + sessionKey + '/');


        function btnR_click(){
            chatSocket.send(JSON.stringify({
            'opcode': 'refresh',
            'container': 'R'
            }));
        }
        function btnS_click(){
            chatSocket.send(JSON.stringify({
            'opcode': 'refresh',
            'container': 'S'
            }));
        }
        function btnP_click(){
            chatSocket.send(JSON.stringify({
            'opcode': 'refresh',
            'container': 'P'
            }));
        }

        document.addEventListener("DOMContentLoaded", function (event) {
            chatSocket.onmessage = function (e) {
            var data = JSON.parse(e.data);
            console.log(data);
            // var message = data['message'];
            if(data['opcode'] == 'result'){
                if(data['win'] == 'true'){

                }
                else{
                    document.body.style.backgroundColor = "gray";
                }
            };
        };
        });
        
    </script>
</head>
<body>
<div>
    <button type="button" class="btn" onclick="btnR_click();">
        <img src="{% static 'RPS/rock.png' %}">
    </button>
    <button type="button" class="btn" onclick="btnS_click();">
        <img src="{% static 'RPS/scissors.png' %}">
    </button>
    <button type="button" class="btn" onclick="btnP_click();">
        <img src="{% static 'RPS/paper.png' %}">
    </button>
</div>
</body>
</html>
