{% load static %}
<!DOCTYPE html>
<html lang="ko">

<head>
    <script>
        
        var type = {{ type }};
        var game_code = {{ game_code }};
        var username = "{{ username }}";
        var sessionKey = "{{ sessionKey }}";
        
        if(type == 0) {
            var chatSocket = new WebSocket(
            'ws://' + window.location.host +
            '/ws/sgs/' + type + '/' + game_code + '/' + sessionKey + '/');
        }else{
            var chatSocket = new WebSocket(
            'ws://' + window.location.host +
            '/ws/sgs/' + type + '/' + game_code + '/' + username + '/' + sessionKey + '/');
        };
        

        function gamestart(){
            var gamename = document.querySelector('input[name="1"]:checked').value;
            var message = 'start_request';
            chatSocket.send(JSON.stringify({
            'opcode': message,
            'gamename': gamename
            }));

            if(gamename == "RPS"){
                location.href = "/game/" + game_code;
            }
            else if(gamename == "FIVE_POKER"){
                location.href = "/game/" + game_code;
            }
            else if(gamename == "Bomb"){
                location.href = "/game/" + game_code;
            }
            
        }
        document.addEventListener("DOMContentLoaded", function (event) {
            chatSocket.onmessage = function (e) {
            var data = JSON.parse(e.data);
            console.log(data);
            // var message = data['message'];
            if(data['opcode'] == 'p_refresh'){
                var participants = data['list'];
                console.log(participants);
                // document.getElementById("userList").innerHTML = "";
                document.querySelector('.userlist').textContent = "";
                for(var i=0; i<participants.length; i++){
                    console.log("<li>" + participants[i] +"</li>");
                    // document.getElementById("userList").append("<li>" + participants[i] +"</li>");
                    document.querySelector('.userlist').append(participants[i]+"  ");
                    // document.getElementById("userList").innerHTML += "<li>" + participants +"</li>";
                }
                
                if(participants.length > 0 ){
                    // var button = document.
                    var start = document.getElementsByTagName("button")[0];
                    start.style.visibility = "visible";                    
                    
                }
            }
            else if(data['opcode'] == 'game_start'){
                location.href = "/game/" + game_code;
            }
            else if(data['opcode'] == 'host_out'){
                location.href = "/";
            }
            else if(data['opcode'] == 'game_start'){
                location.href = "/game/" + game_code;
            }
            
            
         };
        });
        

        chatSocket.onclose = function (e) {
            console.error('Chat socket closed unexpectedly');
        };

    </script>
    <meta charset="utf-8" />
    <link href="{% static 'create.css' %}" rel="stylesheet">
    <title></title>
</head>
<div class="gamecode">
    {{ game_code_sp }}
</div>
<div class="Box1">
    <div class="userlist">
        <p style="text-align: center">현재 참여자 목록</p>
        <ul id="userlist">
            <!-- <li class="user">USER1</li>
            <li class="user">USER2</li>
            <li class="user">USER3</li>
            <li class="user">USER4</li>
            <li class="user">USER5</li>
            <li class="user">USER6</li>
            <li class="user">USER7</li>
            <li class="user">USER8</li> -->
        </ul>
    </div>
</div>
{% if type == 0 %}
<div class="wrap">
    <button id="start" class="button" style="margin: 4% 18% 0 0; visibility: hidden;" onclick="gamestart()" >Game START</button>
</div>
{% else %}
<div class="wrap">
    <button class="button" style="margin: 4% 18% 0 0;">게임 설명</button>
</div>
{% endif%}
<div class="continput" style="margin: 20% 10% 10% 42%">
    <ul>
        <li>
            <input checked type="radio" name="1" value="FIVE_POKER">
            <label>FIVE POKER</label>
            <div class="bullet">
                <div class="line zero"></div>
                <div class="line one"></div>
                <div class="line two"></div>
                <div class="line three"></div>
                <div class="line four"></div>
                <div class="line five"></div>
                <div class="line six"></div>
                <div class="line seven"></div>
            </div>
        </li>
        <li>
            <input type="radio" name="1" value="RPS">
            <label>ROCK-SCISSOR-PAPER</label>
            <div class="bullet">
                <div class="line zero"></div>
                <div class="line one"></div>
                <div class="line two"></div>
                <div class="line three"></div>
                <div class="line four"></div>
                <div class="line five"></div>
                <div class="line six"></div>
                <div class="line seven"></div>
            </div>
        </li>
        <li>
            <input type="radio" name="1" value="Bomb">
            <label>Bomb</label>
            <div class="bullet">
                <div class="line zero"></div>
                <div class="line one"></div>
                <div class="line two"></div>
                <div class="line three"></div>
                <div class="line four"></div>
                <div class="line five"></div>
                <div class="line six"></div>
                <div class="line seven"></div>
            </div>
        </li>
    </ul>
</div>
</body>

</html>