{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <style>
        body{
            background-color: #FFEA00;

        }
        .btn{
            margin-left: 9%;
            background: none;
            border: none;
            position: absolute;left: 40%;top: 40%;
            width: 20%;
            height: 100%;
            overflow: hidden;
            padding-bottom: 0%;

        }
        img{
            max-width: 100%;
        }
    </style>
    <script language = "javascript">
        var sessionKey = "{{ sessionKey }}";
        
        var chatSocket = new WebSocket(
            'ws://' + window.location.host + '/ws/sgs/bomb/' + sessionKey + '/');

        function push_bomb() {
            chatSocket.send(JSON.stringify({
                'opcode': 'push_bomb'
            }));
        }

        document.addEventListener("DOMContentLoaded", function (event) {
            chatSocket.onmessage = function (e) {
            var data = JSON.parse(e.data);
            console.log(data);
            if(data['opcode'] == 'get_bomb'){
                //Todo: 폭탄이 참가자 자신에게 왔을때로서 폭탄 요소 보이게 하는 부분 구현 필요
            };
        };
        });
        
    </script>
</head>
<body>
<div>
    <button type="button" class="btn">
        <img src="{% static 'RPS/rock.png' %}">
    </button>
</div>
</body>
</html>